/* Footer.css */

.footer {
  background-color: #000000;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px 60px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin: auto;
  margin-left: 100px;
  margin-bottom: 50px;
}
.footer-wen{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #000000;
  color: #fff;
  padding: 0px 35px;
  font-family: Arial, sans-serif;
  margin-right: 35px;
  
}
.gf-logo-btc img {
  width: 170px;
}
/* .footer-light{
  height: 400px;
} */

.footer-light,
.footer-wen1,
.footer-wen2,
.footer-right {
  flex: 1 1 200px;
  
}
.footer-wen1,
.footer-wen2,
.footer-right {
  flex: 1 1 200px;
  margin: 10px;
}

.footer-header img {
  width: 100px;
  margin-bottom: 10px;
}

.company-info p {
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.5;
}
.company-info{
  width: 350px;
}

.footer-wen1 h3,
.footer-wen2 h3,
.footer-right h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.services-column{
  width: 250px;
}
.services-column p {
  margin: 5px 0;
  font-size: 16px;
  cursor: pointer;
}
.services-column img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-right: 15px;
}

.services-column p:hover {
  color: #00d287;
}

.footer-right .services-column p {
  font-size: 16px;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #333;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.copyright p,
.follow-us p {
  font-size: 16px;
  margin: 0;
}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-light,
  .footer-wen1,
  .footer-wen2,
  .footer-right {
    margin-bottom: 20px;
  }

  .footer-bot {
    flex-direction: column;
    gap: 10px;
  }
}
