.search-form {
  display: flex;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  border-top: none;
  margin: 0 auto;
  height: 100px;
  width: 100%;
  /* margin-left: 5px; */
  /* margin-right: 5px; */
}

.form-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 125px;

}

h4 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(86, 85, 85);
}
.location-select{
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  width: 175px;
}
.date-input, .time-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  width: 120px;
}

.datetime-inputs {
  display: flex;
}
.date-input{
  margin-right: 5px;
}

.search-button {
  background-color: #22b44c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  height: 42px;
  width: 400px;
  margin-top: 45px;
}

.search-button:hover {
  background-color: #25bf51;
}